.homepage-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homepage-container .input-container input{
    font-size: 24px;
    display: block;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.homepage-container .input-container button{
    display: block;
    font-size: 24px;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid black;
}